.navigation-container {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    background-color: rgb(185, 142, 142);
    align-items: center;
  
    .navigation-item-active, .navigation-item {
      height: 100px;
      font-size: 20px;
      line-height: 100px;
      width: 150px;
      text-align: center;
    }
    
    .navigation-item-active, .navigation-item:hover {
      cursor: pointer;
      background-color: rgb(151, 113, 119);
      opacity: 0.8;
    }
  
    a {
      text-decoration: none;
      color: white;
    }
  }
  