.container {
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ), url(./img/img1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    height: 730px;
    position: relative;
  }

  .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username_itm {
    width: 308px;
    height: 36px;
    border-radius: 25px;
    border-color: #FFFFFF;
    padding: 5px;
    opacity: 0.35;
    transition: opacity 1s ease-out;
    color: rgb(12, 12, 12);
    font-weight:400;
    font-size: 16px;
}

.username_itm:hover{
   opacity: 0.7;
    transition: 0.5s;
}

.button_itm {
    border: 1px solid #ffffff;
    border-radius: 25px;
    color: #867272;
   padding: 11px 24px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 154px;
    height: 36px;
    margin: 20px auto;
    display: block;
}

.button_itm:hover{
    background-color: #c4a392;
    transition: 0.5s;
    color: black; 
}

a {
    text-decoration: none;
    color: rgb(83, 79, 79);
    display: block;
    text-align: center;
  }

  a:hover{
      color: black;
      transition: 0.5s;
  }

  .span_list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgb(218, 11, 11);
      font-weight:600;
      margin: 10px 0;
  }